doctype html
html 
	head
		title=title
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/account/index.css")

		script(src="/js/utilities.js")
		script(src="/js/account/index.js" defer)
	body 
	
		div.card.dark-theme.main-card
			div.form-style
				h2(style="margin-bottom: 2rem;") Account information
				p Email: #{data.email} 
				
				p Current password #[span(style="font-size: 0.75rem") (required to update email or password)]
				input#password-input(type="password" name="new-password-input")
				p#password-error.error-label &#8203;
				hr

				div.form-style
					p Update email
					input#new-email-input(type="email" name="email-input")
					p#new-email-error.error-label &#8203;
					p(style="text-align: right;")
						button#update-email-btn.btn.btn-primary Update email
				hr
				div.form-style
					p Update password #[span(style="font-size: 0.75rem") (Minimum 8 characters)]
					input#new-password-input(type="password" name="new-password-input")
					p#new-password-error.error-label &#8203;
					p(style="text-align: right;")
						button#update-password-btn.btn.btn-primary Update Password
				br
				p#error-message.error-label
				label(for="advanced-editor-checkbox" style="margin-right: 0.5rem;") Default to advanced profile editor
				input#advanced-editor-checkbox(type="checkbox", name="advanced-editor")

			div.form-style
				h2 Characters
				p New character
				input#new-character-input(type="text") 
				div#new-character-inteactions
					p#create-character-msg 
					p(style="text-align:right;")
						button#create-character-btn.btn.btn-primary Create character
				div#character-list