doctype html
html 
	head
		title="Forgot Password"
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/index.css")

		if data.canReset
			script(src="/js/utilities.js")
			script(src="/js/account/reset-password.js") 
	body 
		div.card.main-card
			div.card-item(style="position: relative;")
				h2 Reset your password
				br
				p Enter a new password to reset it
				
				div(style="position: absolute; bottom: 0px;")
					a(href="/") Back to login
			div.card-item
				div.form-style
					if data.canReset
						label New Password
						input#new-password-input(type="password" name="email-input")
						label#status-label
						p(style="text-align:right;")
							button#submit-btn.btn.btn-primary Submit
					else
						p Password reset period expired, #[a(href="/forgot-password") go back] to request a new reset request.