body {
	margin: 0;
	display: flex;
	height: 100vh;
	align-items: center;
}

.main-card {
	margin: auto;
	padding: 2.5rem;

	width: 70vw;
	max-width: 1280px;
	min-height: 400px;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.flex-container {
	display: flex;
	flex-direction: row;

	gap: 1.5rem;
}

.flex-item {
	width: 50%;
	margin: 0.5rem;
}

#new-character-inteactions {
	display: flex;
}

#new-character-inteactions > p {
	width: 50%;
}
