doctype html
html 
	head
		title=title
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/character/editor-help.css")

	body 
		div.header
			h2 Profile Editor Help
		div.card.content
			h2 How do I edit profiles?
			p 
				| Go to your #[a(href="/account") account page] where the characters are listed. Then click on the 
				| "Edit" link next to their name.


			h2 What's the difference between the "Basic" and "Advanced" editors?
			p 
				| The basic editor presents a what-you-see-is-what-you-get (WYSIWYG) editor to the user. This gives an 
				| experience similar to a basic word processor. While you can stylize the text, add images, etc. you're
				| limited in what you can do in terms of layout and design to what the editor provides.
			p 
				| The avanced editor allows you to input the HTML, CSS, and JavaScript source directly. It provides a
				| preview of what the page may look like, but does not allow any interaction with the preview itself.
				| Any changes done on the preview has to be done by editing the appropriate source.

			h2 Can you help me make a profile?
			p 
				| For resources on HTML and CSS, #[a(href="https://www.w3schools.com/"  target="_blank") W3Schools] can help you get
				| started. If you want something in book form #[a(href="https://a.co/d/eLrecjx"  target="_blank") HTML and CSS: Design and Build Websites (Amazon Link)]
				| is a good book to consider.
			p
				| JavaScript is more advanced and should only be considered if you really want some neat widget to be
				| on your profile. The aforementioned W3Schools also provides tutorials for JavaScript, and for 
				| something in book form, there's #[a(href="https://a.co/d/1lde6XE" target="_blank") JavaScript and jQuery: Interactive Front-End Web Development (Amazon Link)]
			p 
				| For making something itself, that's entirely up to you on how you want things. If you want to start
				| with a template, there are several sites that offer such:
			ul 
				li #[a(href="https://www.tumblr.com/rphprofilecodes" target="_blank") RPH Profile Codes]
				li #[a(href="https://www.tumblr.com/stripitdown-coding" target="_blank") Strip it Down RP profile codes]
				li #[a(href="https://www.rphaven.com/group.php?name=Seeking%20Smut&name=Seeking%20Smut" target="_blank") Seeking Smut's Group Page]
			
			p
				| Keep in mind that while using a template may improve the presentation of your profile, the content
				| still matters. If the content of the profile isn't there, then templates won't help you.

			hr
			h2 Basic Editor questions
			h3 Can I change the style (CSS) in the Basic editor?
			p
				| You can! Switch to the Advanced editor and input the CSS you want to use. Then you can go back and
				| use the basic editor with the CSS from before. It's done this way to keep the Basic editor from
				| looking too cluttered or complicated.
			hr
			h2 Advanced Editor questions
			h3 In the Advanced editor, what's the "Include jQuery" checkbox for?
			p
				| Some users prefer to use jQuery over straight JavaScript. By default jQuery is not included in the 
				| profile page, so tick the checkbox if you prefer jQuery. For this site, jQuery 3.7.1 is used.
			