doctype html
html 
	head
		title="Index"
		link(rel="stylesheet", href="./css/chat-ui.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css")
		script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous") 
		script(src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer)
		
		script(src="./js/chat.js" defer)
		script(src="./js/sio-client.js" defer)
	body 
		div.main-container.container-fluid
			div.row
				div.left-sidebar.col-2(style="padding: 0;")
					div.settings-header
						button#room-list-btn.btn.btn-primary.btn-sm(type="button" data-bs-toggle="modal" data-bs-target="#room-list-modal" title="Room list") Rooms
						button#ads-list-btn.btn.btn-primary.btn-sm(type="button" data-bs-toggle="modal" data-bs-target="#lfrp-modal" title="RP ads") RP Ads
						button.btn.btn-primary.btn-sm(type="button" data-bs-toggle="modal" data-bs-target="#settings-modal" title="Settings")
							i.bi.bi-gear-fill

					div.room-tabs(style="padding-left: 0; padding-right: 0;")
						div#friends-tab.character-tab.tab-selected
							p Direct Messages
				div.main-page.col-8
					div.container-fluid.page-header(style="padding-left: 0; padding-right: 0;")
						div.row
							div(style="flex: 0 0 230px;")
								span.room-name 
							div.col
								span.room-topic 
							div(style="text-align: right; flex: 0 0 230px;")
								button.btn.btn-secondary.btn-sm.user-list-toggle
									i.bi.bi-people-fill
					div.chat-page
						div.message-section
							div.message-list
						div.input-section
							textarea(rows=2)
				div.right-sidebar.col-2(style="padding-left: 0; padding-right: 0;")
					div.right-bar-entry.input-group.flex-nowrap 
						input.form-control(type="text" placeholder="Search for user" aria-label="user-search" aria-describedby="addon-wrapping")
					div.room-user-list

		div.footer
	
	// Room list modal
	div#room-list-modal.modal.fade(tabindex="-1" aria-labelledby="room-list-modal-label" aria-hidden="true")
		div.modal-dialog.modal-lg
			div.modal-content
				div.modal-header
					h5#room-list-modal-label.modal-title Chat rooms
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				div.modal-body
					div(style="display:flex; flex-direction: row;")
						div#room-list(style="width: 50%;")
						div#join-character-list(style="width: 50%;")
					div#create-room-form
						input#create-room-name(type=text)
				div.modal-footer
					button#join-room-btn.btn.btn-primary(type="button" data-bs-dismiss="modal") Join
					button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close

	// LFRP modal
	div#lfrp-modal.modal.fade(tabindex="-1" aria-labelledby="lfrp-modal-label" aria-hidden="true")
		div.modal-dialog.modal-lg
			div.modal-content
				div.modal-header
					h5#lfrp-modal-label.modal-title RP Ads
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				div.modal-body
					p Someone probably has something interesting here 
					p Same here
					input(type="checkbox")
				div.modal-footer
					button.btn.btn-secondary(type="button") Close

	// Settings modal
	div#settings-modal.modal.fade(tabindex="-1" aria-labelledby="settings-modal-label" aria-hidden="true")
		div.modal-dialog.modal-lg
			div.modal-content
				div.modal-header
					h5#settings-modal-label.modal-title Settings
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				div.modal-body
					p This is some settings page 
					p Here are some settings 
					input(type="checkbox")
				div.modal-footer
					button#clearOpsDataBtn.btn.btn-primary(type="button" data-bs-dismiss="modal") Save
					button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel