doctype html
html 
	head
		title="Forgot Password"
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/index.css")
		script(src="/js/utilities.js")
		script(src="/js/forgot-password.js" defer)
	body 
		div.card.main-card
			div.card-item(style="position: relative;")
				h2 Forget your password?
				br
				p Enter your email in and if it's registered, you'll get an email with instructions
				
				div(style="position: absolute; bottom: 0px;")
					a(href="/") Back to login
			div.card-item
				div.form-style
					label Email
					input#email-input(type="email" name="email-input")
					label#status-label
					p(style="text-align:right;")
						button#submit-btn.btn.btn-primary Submit