doctype html
html 
	head
		title="Index"
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/index.css")
		script(src="/js/utilities.js")
		script(src="/js/index.js" defer)
	body 
		div.card.dark-theme.main-card
			div.card-item 
				h2 Welcome to RP Navi!
				p A place where you can create characers and roleplay or something.
				
			div.card-item
				unless data.loggedIn
					div.form-style
						h2(style="margin-bottom: 3rem;") Log in
						label Email
						input#email-input(type="email" name="email-input")
						label#email-error.error-label
						label Password
						input#password-input(type="password" name="password-input")
						label#password-error.error-label
						p 
							a#forgot-pw-btn(href="/forgot-password") Forgot Password?
						br
						label#error-message.error-label
						p(style="text-align:right;")
							a#create-account-btn(href="#") Create account
							button#login-btn.btn.btn-primary Login
				else 
					p Welcome!
					p 
						a(href="/account") Account Page
					p 
						a(href="/chat") Go chat!
					button#logout-btn.btn.btn-primary Logout