doctype html
html 
	head
		title="Index"
		script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous") 
		script(src="./js/index_test.js" defer)
		link(rel="stylesheet", href="./css/index.css")
	body 
		div.formStyle
			p Messages
			ul#statusMessage
		div.content
			div.formStyle
				p Sign up
				label Email: 
					input#signupEmail(type="text")
				br
				label Password: 
					input#signupPassword(type="password")
				br
				br
				button#signupSubmit(style="margin-right: 0.5rem;") Sign up
				button#loginSubmit Login

			div.formStyle
				p Log out
				button#logOutBtn Logout

			div.formStyle
				p Get account data
				button#getData Get Data
				p Resend Verification
				button#getVerification Resend Verification
			
			div.formStyle
				p Change email
				label Current Password: 
					input#currentPasswordInput(type="password")
				br
				label New Email: 
					input#newEmailInput(type="email")
				br
				button#updateEmail Update
				br
				br
				label New Password:
					input#newPasswordInput(type="password")
				br
				button#updatepasswordBtn Update
				br
				br
				button#deleteAccountBtn Delete
			