doctype html
html 
	head
		title="Index"
		script(src="./js/index_test.js" defer)
		link(rel="stylesheet", href="/css/index.css")
		link(rel="stylesheet", href="/css/common.css")
	body 
		div.header
			div
				h2 RP Navi
			div 
				a About
				| 
				a Chat
				| 
				a Group
		div.content
			a(href="chat", target="_blank", rel="noopener noreferrer") Chat link
			div.form-style
				label Email: 
					input#emailInput(type="text")
				br
				label Password: 
					input#passwordInput(type="password")
				br
				br
				button#signupSubmit Sign up
				button#loginSubmit Login
				button#forgotPassword Forgot Password
				br
				br
				label Reset password:
					input#resetPasswordInput(type="password")
				br
				label Reset token:
					input#resetTokenInput(type="text")
					button#resetPasswordBtn Reset Password

			div.form-style
				p Account Actions
				button#logOutBtn Logout 
				button#getData Get account data
				button#getVerification Resend Verification
				br
				br
				label Change Email: 
				input#newEmailInput(type="email")
				button#UpdateEmail Update
				br
				br
				label Change Password:
				input#newPasswordInput(type="password")
				button#updatepasswordBtn Update
				br
				br
				button#deleteAccountBtn Delete
			div.form-style
				p Character Actions
				button#getCharactersBtn Get characters
				br
				br
				label Create character: 
				input#newCharacterInput(type="text")
				button#newCharacter Create
				br
				br
				div#characterList
					div.flex-container
		div.form-style
			p Messages
			ul#statusMessage