@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background-color: var(--color-dark-theme-bg);
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
label {
	font-family: "Roboto", sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:root {
	--color-dark-theme-bg: #1e1f1c;

	--color-dark: #272822;
	--color-light: #f8f8f8;
	--color-link: #5f90d8;

	--color-primary: #3498db;
	--color-primary-selected: #2980b9;
	--color-secondary: #6c757d;
	--color-secondary-selected: #636b72;
	--color-success: #2ecc71;
	--color-success-selected: #27ae60;
	--color-danger: #e74c3c;
	--color-danger-selected: #c0392b;
	--color-warn: #f1c40f;
	--color-warn-selected: #f39c12;
	--color-info: #0dcaf0;
	--color-info-selected: #0db6d8;
}

.btn {
	font-family: "Roboto";
	padding: 0.5rem 0.6rem 0.5rem 0.6rem;
	margin: 0.2rem;

	border-radius: 0.5rem;
	border: none;

	box-shadow: rgba(0, 0, 0, 0.5) 0.1rem 0.1rem 0.2rem;
	transition: background-color 0.2s ease-out, box-shadow 0.1s ease-out;

	background-color: var(--color-light);
	color: var(--color-dark);

	cursor: pointer;
}

.btn:active {
	box-shadow: none;
}

.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-light);
}

.btn-primary:hover {
	background-color: var(--color-primary-selected);
}

.btn-secondary {
	background-color: var(--color-secondary);
	color: var(--color-light);
}

.btn-secondary:hover {
	background-color: var(--color-secondary-selected);
}

.btn-success {
	background-color: var(--color-success);
	color: var(--color-light);
}

.btn-success:hover {
	background-color: var(--color-success-selected);
}

.btn-danger {
	background-color: var(--color-danger);
	color: var(--color-light);
}

.btn-danger:hover {
	background-color: var(--color-danger-selected);
}

.btn-warn {
	background-color: var(--color-warn);
	color: var(--color-dark);
}

.btn-warn:hover {
	background-color: var(--color-warn-selected);
}

.btn-info {
	background-color: var(--color-info);
	color: var(--color-dark);
}

.btn-info:hover {
	background-color: var(--color-info-selected);
}

div.card {
	font-family: "Roboto";
	border-radius: 0.5rem;

	color: var(--color-light);
	background-color: var(--color-dark);
	box-shadow: rgba(0, 0, 0, 0.5) 0.1rem 0.1rem 0.2rem;
}

div.header {
	display: flex;
	flex-direction: row;

	background-color: #34352f;
	color: var(--color-light);
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0.1rem 0.1rem 0.2rem;
}

div.header > div:nth-child(2) {
	flex-grow: 1;
	text-align: right;
}

.error-label {
	color: var(--color-danger);
}

.form-style {
	box-sizing: border-box;
}

.form-style > input[type="password"],
.form-style > input[type="email"],
.form-style > input[type="text"] {
	width: 100%;
	height: 36px;
	margin-bottom: 0.75rem;
	box-sizing: inherit;
}
