body {
	display: flex;
	flex-direction: column;
}

.editor-container {
	width: calc(100% - 48px);
	height: auto;
	padding: 24px;

	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.mce-container {
	margin: auto;
	width: calc(800px - 0.5rem);
	padding: 0.5rem;

	flex: 1 1 auto;
	background-color: #fff;
}

.bottom {
	align-items: center;
	display: flex;
	flex-direction: row;

	width: calc(800px - 0.5rem);
	padding: 0.5rem;
	margin: auto;
	margin-top: 12px;

	background-color: #fff;
}

.bottom > div {
	flex: 1 1 auto;
}
