body {
	background-color: #ebf5fb;

	padding: 2rem;
	box-sizing: border-box;
}
.content-card {
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 2.5rem;
	background-color: #fff;
	box-sizing: border-box;
}
