body {
	display: flex;
	align-items: center;
}

.main-card {
	margin: auto;
	max-width: 1280px;
	padding: 2.5rem;
	min-height: 400px;
	background-color: var(--clr-surface-a20);
	color: var(--clr-light-a0);

	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}

.card-item {
	width: 100%;
}

#login-btn {
	margin-left: 2rem;
	width: 20%;
}

.form-style > label {
	display: block;
	margin-bottom: 0.5rem;
}
